@import "variables";
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  background-color: $lightCream;
}
.link {
  color: $lightCream;
  text-decoration: none;
  font-size: 1.2rem;
  z-index: 500;
  &:hover {
    color: $cream;
    transform: scale(0.2);
  }
}
