/* @font-face {
  font-family: "Vazir";
  src: url("./assets/font/Vazir.woff");
}
@font-face {
  font-family: "Vazir_thin";
  src: url("./assets/font/Vazir-Thin.woff");
}
@font-face {
  font-family: "Vazir_bold";
  src: url("./assets/font/Vazir-Bold.woff");
} */
@font-face {
  font-family: "IranSanse";
  src: url("./assets/font/Iranian\ Sans.ttf");
}
